<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="FoxQuest v0.1.0">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>FoxQuest</title>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <style>
            body {
                background: black;
            }
            #game {
                position: absolute;
                padding: 0;
                margin: auto;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        </style>
    </head>
    <body>
        {% import 'macros.html' as macros %}

        {{ macros.menu() }}

        <canvas id="game" width="1280" height="720"></canvas>

        <script type="module" src="/js/foxquest.js"></script>
    </body>
</html>