<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="idk im just some dev">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <title>Main</title>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
    </head>
    <body>
        {% import 'macros.html' as macros %}

        {{ macros.menu() }}

        <br><br><br><br>
        <div class="container">
            <div class="card">
                <p>Yeah I know the nav bar sucks. I don't know how to fix the width lmao.</p>
            </div>
            <br><br><br><br><br><br>
            <div class="card">
                <video autoplay loop height='400px' width='400px'><source src='https://preview.redd.it/66pxgyj0rlz11.gif?format=mp4&s=0d286cbb568077dc842f5af1a86b8bab5749b8b6' type='video/mp4'>destiny 2 fallen captain fortnite dance</video>
                <br><p>HHHHHH<a href="https://twitter.com/home">H</a></p>
            </div>
        </div>
    </body>
</html>