<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="idk im just some dev">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <title>Projects</title>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/gradient-bg.css">
    </head>
    <body>
        {% import 'macros.html' as macros %}

        {{ macros.menu() }}

        <br><br><br><br><br><br><br><br><br>
        <div class="container">
            <div class="card">
                <p>Projects</p>
            </div>
            <div class="card">
                <a href="/projects/zote">Zote Discord Bot</a>
                <p>Hollow Knight themed discord bot for my personal server.</p>
            </div>
            <div class="card">
                <a href="/projects/foxquest">FoxQuest</a>
                <p>I got bored, so I'm trying to make a game pure js.</p>
                <p>E to interact, that's about it.</p>
            </div>
        </div>
    </body>
</html>